<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Login Application</title>
 
</head>
 
<body>
 
	<div class="jumbotron">
            <h1>Login Application</h1>
            <p class="lead"></p>
            <p>New User? <a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showsignin">Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"></h3>
        </div>
 
        
 
        <footer class="footer">
            <p>&copy; Company XYZ.</p>
        </footer>
 
    </div>
</body>
 
</html>