<html>
<head>
<title>Employee Details</title>
<center><strong>Employee Details</strong>
</head>
<br>
<br>
<center>
<body>
<form>
<table width="450px">
</tr>

<tr>
 <td>
  <label for="first_name">First Name</label>
 </td>
<td>
 <input type="text" name="first_name" maxlength="50" size="30">
</td>
</tr>

<tr>
<td>
  <label for="last_name">Last Name</label>
</td>
<td>
<input type="text" name="last_name" maxlength="50" size="30">
</td>
</tr>

<tr>
<td>
  <label for="email">Email Address</label>
</td>
<td>
 <input type="text" name="email" maxlength="80" size="30">
</td>
</tr>

<tr>
<td>
 <label for="telephone">Telephone Number</label>
</td>
<td>
<input type="text" name="telephone" maxlength="10" size="30">
</td>
</tr>

<tr>
<td>
 <label for="birthday">Birth Date</label>
</td>
<td>
<input type="date" name="birthday" size="30">
</td>
</tr>

<tr>
<td>
 <label for="about_me">About Me</label>
</td>
<td>
<textarea name="about_me" maxlength="1000" cols="25" rows="6"></textarea>
</td>
</tr>

<tr>
<td>
  <label for="ssn">SSN</label>
</td>
<td>
 <input type="text" name="ssn" maxlength="9" size="30">
</td>
</tr>

<tr>
<td>
  <label for="empltype">Employee Type</label>
</td>
<td>
 <input type="radio" name="empltype" value="full"> Full-Time<br>
 <input type="radio" name="empltype" value="part"> Part-Time<br>
 <input type="radio" name="empltype" value="intern"> Intern<br>
</td>
</tr>

<tr>
<td colspan="2" style="text-align:center">
<input type="submit" value="Submit">
</td>
</tr>	

</table>
</form>
</body>
</html>